/* NAVBAR */
.navbar {
  background: #005954;  /* verde oscuro */
  color: white;
  padding: 15px 0;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.download-btn {
  background: #5dc1b9;  /* verde claro */
  border: none;
  padding: 10px 18px;
  color: #005954;        /* verde oscuro */
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.download-btn:hover {
  background: #9ce0db;  /* verde muy claro */
}

/* HERO */
.hero {
  background-image: url('/assets/igmar/1.png');
  background-size: cover;  
  background-position: center; 
  color: white;
  padding: 80px 0;
  text-align: center;
  position: relative;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2rem;
  width: 60%;
  margin: auto;
}

.hero .hero-content {
  position: relative;
  z-index: 1;
}

/* SECCIONES GENERALES */
.section {
  padding: 60px 20px;
  width: 90%;
  margin: auto;
}

h2 {
  color: #005954;  /* verde oscuro */
  font-size: 2rem;
  margin-bottom: 20px;
}

/* GRID DE REPORTES */
.reports-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: #ffffff;  /* verde claro */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  color: #005954;        /* verde oscuro */
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:hover {
  transform: translateY(-5px);
  background: #9ce0db;  /* verde muy claro */
}

.card img {
  width: 300px;       
  height: 200px;
  margin-bottom: 10px;
}

/* WHY */
.why {
  padding: 60px 20px;
}

.why h2 {
  color: #005954; /* verde oscuro */
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.why ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.why li {
  background: #d5ffff;        /* fondo muy claro */
  color: #005954;             /* texto verde oscuro */
  padding: 20px;
  border-radius: 12px;
  border-left: 6px solid #338b85;  /* verde medio */
  font-size: 1.1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s, background 0.3s;
  display: flex;
  align-items: center;
}

.why li:hover {
  transform: translateY(-5px);
  background: #9ce0db; /* verde más claro al hover */
}

.why li::before {
  content: '✔';
  margin-right: 10px;
  color: #338b85; /* verde medio */
  font-weight: bold;
}


/* FOOTER */
.footer {
  background: #005954;  /* verde oscuro */
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}
