.verify-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #f3f6f4;
}

.card {
  background: #ffffff;
  padding: 30px 25px;
  border-radius: 20px;
  width: 100%;
  max-width: 380px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 26px;
  color: #2e7d32;
  font-weight: bold;
}

.subtitle {
  color: #555;
  margin-top: 8px;
  margin-bottom: 20px;
}

.code-inputs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.code-inputs input {
  width: 45px;
  height: 55px;
  text-align: center;
  font-size: 22px;
  border-radius: 12px;
  border: 2px solid #d4e2d4;
  outline: none;
  transition: 0.2s;
}

.code-inputs input:focus {
  border-color: #4caf50;
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.3);
}

.btn {
  width: 100%;
  padding: 14px;
  font-size: 18px;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #449d47;
}

.resend {
  margin-top: 18px;
  font-size: 14px;
  color: #666;
}

.link {
  color: #4caf50;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}