.login-page {
  --background: #f7f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  background: #ffffff;
  width: 90%;
  max-width: 360px;
  margin: auto;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.logo {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

.title {
  color: #12806a;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 4px;
}

.subtitle {
  color: #000000;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
  font-weight: bold;
}

.ion-item {
  --highlight-color-focused: #12806a;
  border-radius: 8px;
  margin-bottom: 15px;
  background: #292626;
}

.login-button {
  --background: #12806a;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 10px;
}
.login-button-login{
  --background: #1d3eb2;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 10px;
}