 .header-content {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .iconNot { 
    color: #333;
    }
    .iconNot:hover {
      color: #007b7b;
      cursor: pointer;
    }
    .nombre {
      font-size: 16px;
      font-weight: 500;
    }

    .botones-container {
      display: flex;
      justify-content: space-between;
      margin: 20px 0;
    }

    ion-button {
      width: 48%;
      border-radius: 10px;
    }

    .reportes-section h2 {
      font-size: 16px;
      margin-bottom: 10px;
      color: #333;
    }

    .reporte-card {
      border-radius: 12px;
      padding: 10px;
    }

    .reporte-header {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .reporte-detalle {
      margin-top: 8px;
      font-size: 14px;
      color: #444;
    }

    ion-avatar {
      width: 30px;
      height: 30px;
      background-color: #a7e3e3;
    }